#link-iniad {
    text-decoration: none;
}

#link-x {
    text-decoration: none;
}

#link-github {
    text-decoration: none;
}

#link-zenn {
    text-decoration: none;
}

#link-qiita {
    text-decoration: none;
}

#link-seccampmini {
    text-decoration: none;
}

#link-article {
    text-decoration: none;
}

body {
    width: min(900px, calc(100% - 32px));
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

table {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
