.link {
    text-decoration: none;
}

h2::before {
    content: "●";
}

.content-group {
    background-color: #2b2b2b;
    border: 1px solid #555;
    border-radius: 6px;
    padding: 24px;
    margin-bottom: 24px;
}

.content-group h2 {
    margin-top: 0;
}

a {
    color: inherit;
}

a:hover {
    color: gray;
}

body {
    color: #fffdd0;
    background-color: rgb(8, 8, 8);
    width: min(900px, calc(100% - 32px));
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

table {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.GPU {
    color: rgb(21, 207, 0);
}

.CPU {
    color: rgb(255, 38, 0);
}